@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-y::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-y::-webkit-scrollbar-track {
    /* background: orange; */
    background: transparent;
    /* color of the tracking area */
}

.scrollbar-y::-webkit-scrollbar-thumb {
    background-color: black;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* border: 3px solid orange; */
    border: 2px solid white;
    /* creates padding around scroll thumb */
}